.card-container {
  display: grid;
  height: auto;
  box-shadow: 5px 6px 11px 0px #999999;
  grid-template-areas:
    "header header"
    "body body"
    "footer footer";
}

.card-header {
  height: 100px;
  background: linear-gradient(
    90deg,
    rgba(243, 118, 133, 1) 0%,
    rgba(245, 157, 112, 1) 49%,
    rgba(246, 174, 100, 1) 80%,
    rgba(247, 187, 90, 1) 100%
  );
  display: flex;
  justify-content: center;
  grid-area: header;
}

.card-img {
  align-self: flex-end;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transform: translateY(50%);
  overflow: hidden;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
  }
}

.card-body {
  grid-area: body;
  margin-top: 25px;
  padding: 0 15px;
  height: 200px;
  width: auto;

  .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    word-break: break-word;
  }
  .card-desc {
    word-break: break-word;
    height: max-content;
  }
}

.card-footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background: #e0e0e0;
  border-top: 2px solid rgb(243, 118, 133);
  grid-area: footer;
  justify-content: space-around;
  grid-column-gap: 8px;
  height: 100px;
  padding: 0 15px;
}

.card-button {
  grid-row: 2 / auto;

  button {
    width: 89px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #e7e7e7;
    box-shadow: 5px 5px 13px #cccccc, -5px -5px 13px #f4f4f4;
    border-radius: 8px;
    svg {
      display: block;
      margin: 0 auto;
      padding-bottom: 12px;
    }

    &:hover {
      color: white;
      background: black;
      transition: 0.1s;
    }
  }
}
